<div class="SplitWrapper">
  
  <div class="SplitWrapper-container SplitWrapper-container--primary">
    <h1 class="Logo">Kristine S. Lorentzen</h1>
  </div>
  
  <div class="SplitWrapper-container SplitWrapper-container--secondary">
    <nav class="SiteNavigation">
      <ul class="SiteNavigation-container">
        <li class="SiteNavigation-item">
          <a href="#" class="SiteNavigation-link">About me</a>
        </li>
        <li class="SiteNavigation-item">
          <a href="#" class="SiteNavigation-link">Portofolio</a>
        </li>
        <li class="SiteNavigation-item">
          <a href="#" class="SiteNavigation-link">Blog</a>
        </li>
        <li class="SiteNavigation-item">
          <a href="#" class="SiteNavigation-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

</div>