$primary: #222;
$secondary: #eee;
$accent: #b13a48;

$colors: (
        'action': $accent,
        'logo': $secondary,
        'primaryBackground': $accent,
        'secondaryBackground': $secondary,
        'navigationBackground': $accent,
);